body {
    background-color:olivedrab;
}
.topPart {
    background-image: url("images/backmoutain.jpg");
/*    background-repeat: round;*/
    background-size:cover;
}
.middle-center {
    font-size: 30px;
    font-family: Century Gothic, sans-serif;
    background-color:darkolivegreen; 
}
.photo img {
    float : right;
    border-radius: 80%;
    margin-right: 60px;
}
.city h3{
    font-family: Century Gothic, sans-serif;
    font-size: 30px;
    background-color: darkolivegreen
    
}
.parisimg img{
    margin-right: 60px;
    border-radius: 80%;
}
.paraParis {
    float:center;
    margin-left: 40px;
}

.foreign{
    margin-top: 6em;
    font-family: Century Gothic, sans-serif;
}

.headforforeign {
    clear:both;
    font-size:40px;
    background-color: darkolivegreen;
    margin-top: 4em;
}
.whatsyrlang {
    font-size: 30px
}
table {
    margin: 10ox;
}
.his-txt {
    font-size: 30px;
    margin-top: 1em;
    font-family: Century Gothic, sans-serif;
    background-color: darkolivegreen;
}
.clock-tower {
    margin-bottom: 200px;
    border-style: solid;
    margin-top: 100px;
}
.clock-tower ul {
    margin-left: 300px;
    margin-top: 5em;
}
.h8 {
    font-size-adjust: auto;
}
.alfred {
    margin-bottom: 150px;
    margin-left: 3em;
    border-style: solid;
}
.africaTP li {
    margin-left: 370px;
    margin-top: 5px;
}
.africaTP {
    border-style: solid;
}



