body {
    background-color:olive;
}

.photo {
    float : right;
}
.parisimg{
    display: inline
}
.foreign{
    font-size: 20px;
}
table {
    margin: 10ox;
}
.his-txt {
    font-size: 30px;
    margin-top: 1em;
}
.clocktower {
    margin-bottom: 400px;
}
.clocktower ul {
    margin-left: 400px;
    margin-top: 5em;
}
.alfred {
    margin-bottom: 250px;
}
.africaTP ul {
    margin-left: 400px;
}



